#home {
  background-image: url("../images/the-flatiron-building.png");
  background-repeat: no-repeat;
  background-position: top center;
  

  }

h1{
  font-family: Helvetica;
  font-size: 70px;
  font-weight: bold;
  color: white;
  text-align: center;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li,a{
  font-family: Helvetica;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: white;
  padding-top: 20px;
}

#process,#work,#team,#contact{
  text-align: center;
}

h2{
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
}

h3{
  font-family: Helvetica;
  font-size: 23px;
  font-weight: bold;
}

p{
  font-family: Helvetica;
  font-size: 14px;

}

.city{
  background-image:url("../images/the-flatiron-building.png");
  background-position:center;
  background-clip:content-box;
  font-family: Helvetica;
  font-size: 23px;
  font-weight: bold;
  color: white;
  text-align: center;
  background-repeat: no-repeat;

}

#footer, .footerr, .afooter {
  background-color: dimgray;
  font-family: Helvetica;
  font-size: 11px;
  color: white;
  padding: 0px 2px;

}
#footer{
  margin:0px 30px;
  }
